.noiDung{
    width: 100%;
}

.noiDung .bao{
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}
.noiDung .bao .error{
    width: 100%;
    color: red;
    font-size: 14px;
    margin: 0;
}

.noiDung .bao .tieuDe{
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(255, 200, 36,0.9);
    padding: 4px;
    text-align: left;
    margin-top: 10px;
    border-bottom: 0.5px solid rgba(0,0,0,0.3);
}

.noiDung .bao h1{
    margin: 0;
    padding: 20px;
    color: rgba(0,0,0,0.7);
    background-color: rgba(255, 200, 36,0.9);
    border-bottom: 10px solid white;
	border-right: 10px solid transparent;
}
.noiDung .bao p{
    margin: 20px 10px 5px 10px;
    text-align: left;
}
.noiDung .bao input{
    width: 92%;
    font-size: 16px;
    height: 24px;
}

.noiDung .bao #gioiTinh{
    width: 16px;
    height: 16px;
}

.noiDung #btnDangKy{
    margin: 20px;
    width: 40%;
    height: auto;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgba(255, 200, 36,0.9);
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 200, 36,0.9);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.noiDung #btnDangKy:hover{
    background-color: rgba(255, 200, 36,0.9);
    color: rgba(0, 0, 0, 0.7);
}

.noiDung #btnQMK{
    margin: 20px;
    width: 40%;
    height: auto;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgba(255, 200, 36,0.9);
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 200, 36,0.9);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.noiDung #btnQMK:hover{
    background-color: rgba(255, 200, 36,0.9);
    color: rgba(0, 0, 0, 0.7);
}