.noiDung .lopBao {
    width: 100%;
    display: inline-block;
    padding: 20px 0px;
}

.lopBao .tieude {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    clear: both;
}

.lopBao .tieude p {
    margin: 0;
    background-color: rgba(255, 200, 36, 0.9);
    display: inline-block;
    padding: 4px 20px;
    transform: skewX(-30deg);
    margin-left: 10px;
}

.lopBao .trai {
    width: 50%;
    float: left;
}

.lopBao .trai img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lopBao .trai .tieuDe {
    font-size: 26px;
    font-weight: bold;
    margin: 20px 40px 2px 40px;
}

.lopBao .trai .thoiGian {
    font-size: 14px;
    margin: 0px 40px 10px 40px;
    font-style: italic;
}

.lopBao .trai .moTaNgan {
    font-size: 16px;
    margin: 0px 40px;
}

.lopBao .phai {
    width: 50%;
    float: left;
    height: auto;
}

.lopBao .phai .bao {
    height: 33.3333%;
    clear: both;
    display: inline-block;
    /* padding: 20px 0px; */
    padding-bottom: 20px;
}

.lopBao .phai .bao img {
    width: 30%;
    float: left;
}

.lopBao .phai .bao .noiDung {
    width: 66%;
    float: left;
    padding-left: 4%;
}

.lopBao .phai .bao .noiDung .tieuDe{
    font-size: 20px;
    font-weight: bold;
}

.lopBao .phai .bao .noiDung .thoiGian{
    font-size: 12px;
    font-style: italic;
}
.lopBao .phai .bao .noiDung .moTaNgan{
    font-size: 14px;
    padding-top: 10px;
}
@media only screen and (max-width: 1023px){
    .lopBao .tieude {
        font-size: 16px;
    }
    .lopBao .trai{
        width: 100%;
    }
    .lopBao .phai{
        width: 90%;
        padding: 5%;
    }
    .lopBao .phai .bao img{
        width: 40%;
    }
    .lopBao .phai .bao .noiDung{
        width: 56%;
    }
}